body {
  background-image: url("../img/cork-board.jpg");
  position: relative;
}

.polaroid {
  position: absolute;
  top: 100px;
  left: 100px;
}

.shrek {
  height: 650px;
  width: 650px;
  top: 215px;
  left: 225px;
  position: absolute;
}
